.HeartAnimationContainer
{
visibility: hidden;
}
.HeartAnimationContainer:after
{
content: '✮';
visibility: visible;
display: block;
position: absolute;
color: grey;
}
.IconTextContainer
{
color: grey;
}

SPAN.Icon.Icon--heartBadge
{
visibility: hidden;
}
SPAN.Icon.Icon--heartBadge:after
{
content: '✰';
visibility: visible;
display: block;
position: absolute;
color: yellow;
}
