.HeartAnimationContainer 
{
     visibility: hidden;
}
.HeartAnimationContainer:after 
{
     content: '✮';
     visibility: visible;
     display: block;
     position: absolute;
     color: grey;
}
.IconTextContainer
{
    color: grey;
}
