#################################################################
## replaces the heart in every tweet with a grey star		#
## to change the color of the star just replace 'color: grey;'  #
## with the color of your choice				#
## For another logo change the star emoji with anotherone	#
## See here for other emojis: http://getemoji.com/		#
#################################################################


.HeartAnimationContainer 
{
     visibility: hidden;
}
.HeartAnimationContainer:after 
{
     content: '✮';
     visibility: visible;
     display: block;
     position: absolute;
     color: grey;
}
.IconTextContainer
{
    color: grey;
}

## replaces the heart in the "mentions" tab with a yellow star

SPAN.Icon.Icon--heartBadge
{
    visibility: hidden;
}

SPAN.Icon.Icon--heartBadge:after
{
   content: '✮';
   visibility: visible;
   display: block;
   position: absolute;
   color: yellow;
}
